In [4]:
import pandas as pd

from Repository_Reader import commit_details

In [3]:
from Constants import Issues_File_Path, Commit_Deatails_File_Path, Issue_Details_File_Path

In [15]:
issues_df = pd.read_csv(Issues_File_Path, delimiter=';')
issuses_details_df = pd.read_excel(Issue_Details_File_Path)
commit_details_df = pd.read_excel(Commit_Deatails_File_Path)

In [19]:
issues_df

            key  parent key  description size  comments size
0    AXIS2-6002         NaN                79            179
1    AXIS2-5846         NaN               814           3145
2    AXIS2-4906         NaN               400              0
3    AXIS2-4739         NaN              1007           1013
4    AXIS2-4509         NaN               286            440
..          ...         ...               ...            ...
104  AXIS2-2456         NaN               906             84
105  AXIS2-1623         NaN              1012             64
106  AXIS2-1601         NaN              1167              0
107   AXIS2-921         NaN               725            304
108   AXIS2-881         NaN               581             99

[109 rows x 4 columns]

In [18]:
print('Count: ', issues_df['key'].count())

Count:  109